/*

--- 01 Typography
Font sizes
10 / 12  / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 /  98

Font weights: 
Default: 400
500
600
700

Line heights:
Default: 1
1.05
1.2
1.6

--- 02 Colors

Primary: #FB8500

#FFB703
#023047
#219EBC
#8ECAE6
#555
#333
--- 03 Shadows

--- 04 Border-radius
9px
--- 05 Whitespace

Spacing (px)
2/4/8/12/16/24/32/48/64/80/96/128

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /*
    def font size: 16px
    1 rem = 16px
    10px / 16px = 0.625
  */
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

/*******************/
/*HEADER*/
/*******************/
.logo {
  height: 5rem;
  border-radius: 5px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8ecae6;
  /*Because it will be sticky later*/
  height: 9.6rem;
  padding: 4.2rem;
  position: relative;
}
.btn-mobile-nav {
  border: none;
  background-color: #8ecae6;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}
/*******************/
/*NAVIGATION*/
/*******************/
.main-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.1s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #fb8500;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #ffb703;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #fb8500;
}
/*******************/
/*HERO SECTION*/
/*******************/

.section-hero {
  background-color: #8ecae6;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  font-weight: 600;
}

.hero-img {
  width: 100%;
  box-shadow: 2px 2px 8px #333;
  border-radius: 15px;
}
.hero-img-box {
  position: relative;
}

.delivered-service {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #8ecae6;
}
.delivered-imgs img:last-child {
  margin-right: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  display: flex;
  color: #190d00;
  font-weight: 700;
  font-size: 3rem;
}
/*******************/
/*FEATUERD IN SECTION*/
/*******************/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #999;
}
.logos {
  display: flex;
  justify-content: space-evenly;
}
.logos img {
  height: 4rem;
  filter: grayscale(100%);
}
/*******************/
/*HOW IT WORKS SECTION*/
/*******************/
.section-how {
  padding: 9.6rem 0;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.step--img {
  width: 100%;
}
.step--img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*******************/
/*SERVICES SECTION*/
/*******************/
.section-services {
  padding: 9.6rem 0;
  background-color: #8ecae6;
}
.service {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 13px;
  overflow: hidden;
  background-color: #fff;
  transition: all 0.4s;
}
.service:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.2);
}
.service-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.service-tags {
  margin-bottom: 1.2rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #219ebc;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
}
.service-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.service-attributes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}
.service-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.service-img {
  width: 100%;
}
.service-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #fb8500;
}
.service-list {
  background-color: #fff;
  border-radius: 13px;
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #fb8500;
}
.all-services {
  text-align: center;
  font-size: 1.8rem;
}
/*******************/
/*TESTIMONIALS SECTION*/
/*******************/
.section-testimonials {
  padding: 9.6rem 0;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2em;
}
.testimonial-img {
  width: 4.8rem;
  border-radius: 50%;
  margin-bottom: 0.8rem;
  align-self: center;
  justify-self: center;
}
.testimonial {
  display: grid;
  padding: 1.2rem;
  transition: all 0.3s;
}
.testimonial:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.2);
}
.testimonial-text {
  font-size: 1.6rem;
  line-height: 1.8;
  margin: 1.6rem;
}
.testimonial-name {
  font-size: 1rem;
  color: #777;
  justify-self: end;
  align-self: end;
}
/*******************/
/*PRICING SECTION*/
/*******************/
.section-pricing {
  padding: 9.6rem 0 4.8rem;
  background-color: #8ecae6;
}
.pricing-plan {
  background-color: #fff;
  border-radius: 10px;
  padding: 2.4rem;
  transition: all 0.3s;
}
.pricing-plan:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.2);
}
.plan-contains {
  color: #2a9d8f !important;
}
.plan-not-contains {
  color: #d62828 !important;
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  font-weight: 600;
  color: #fb8500;
  margin-bottom: 2rem;
}
.plan-price {
  font-size: 4.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.6rem;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #000;
  font-weight: 450;
}
.plan-sign-up {
  text-align: center;
  margin-top: 3.8rem;
}
.plan-details {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.6;
}
.recommended-plan {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(2, 48, 71, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );

  position: relative;
  overflow: hidden;
}
.recommended-plan::after {
  content: "BEST VALUE";
  position: absolute;
  top: 7%;
  right: -17%;
  background-color: #ffb703;
  transform: rotate(45deg);
  padding: 0.8rem 5rem;
  border-radius: 10px;
  letter-spacing: 2px;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
}
.recommended-price {
  color: #fff;
}
.recommended-text {
  color: #8ecae6;
}
.recommended-list span {
  color: #fff;
}
/*-------*/
.feature {
  background-color: #fff;
  border-radius: 10px;
  padding: 2.4rem;
}
.feature-icon {
  color: #333;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #ffb703;
  border-radius: 50%;
  padding: 1.6rem;
  margin-bottom: 3.2rem;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
}
/*******************/
/*CTA SECTION*/
/*******************/
.section-call-to-action {
  padding: 9.6rem 0;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #fb8500; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #fb911a, #fb8500);
  overflow: hidden;
}
.cta-text-box {
  color: #4b2800;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}
.cta-img-box {
  display: flex;
  background-color: #fff;
}
.cta-img {
  width: 100%;
  align-self: center;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  background-color: #fdf2e9;
  border: none;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta-form input::placeholder {
  color: #999;
}
/*******************/
/*FOOTER SECTION*/
/*******************/
.footer {
  padding: 12.8rem 0 0.1rem 0;
  background-color: #8ecae6;
}
.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.copyright {
  margin-top: auto;
  font-size: 1.4rem;
  color: #333;
  line-height: 1.6;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.address {
  margin-bottom: 2.4rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #333;
  transition: all 0.1s;
}
.footer-link:hover,
.footer-link:active {
  color: #555;
}
